
<div class="todo {{#if todo.done}}done{{/if}}">

 
	<label class="topcoat-checkbox check">
	  <input type="checkbox" class="check" {{#if todo.done}}checked="checked"{{/if}}>
	  <div class="topcoat-checkbox__checkmark"></div>
	</label>


	<div class="todo-content">{{todo.content}}</div>
	<span class="todo-destroy"></span>
<!-- 	<span class="todo-prioritize"></span>
 -->	</div>

	<div class="edit">
	<input class="todo-input" type="text" value="{{todo.content}}">
	</div>



</div>



